PORT=3001
NODE_ENV=development

MAILHOG_HOST=localhost
MAILHOG_WEB_PORT=8025
MAILHOG_SMTP_PORT=1025
SMTP_SECURE=false
SMTP_IGNORE_TLS=true

DEFAULT_FROM_EMAIL=scanner@accesstime.com
DEFAULT_TO_EMAIL=test@local.test
DEFAULT_TIMEOUT=5000

CORS_ORIGIN=http://localhost:3000
